//================================
// @@ ++ Footer
//================================

footer {
  margin: 10px 0px 25px 0px;
  color: #ffecc4;
}

#footer_inner {
}

#footer_right {
  text-align: left;
}